<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AfterTaste</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon ">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <div class="logo me-auto">
                <!-- <h1><a href="index.html">AfterTaste</a></h1> -->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/logo.png" alt="" class="img-fluid"></a>
            </div>
            
            @if (User.Identity.IsAuthenticated)
            {
                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        <li><a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">About Us</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Home")#recipe"><span>Recipes</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a asp-controller="Recipes" asp-action="TopRatedRecipe">Top Rated Recipes</a></li>
                                <li><a href="#">Recipes Around The World</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#contact">Contact</a></li>
                        <li><a class="nav-link" asp-controller="Home" asp-action="Profile">Profile</a></li>
                        
                      
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>

                <!-- .navbar -->

                <a class="book-a-table-btn scrollto" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            }
            else
            {
                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        <li><a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">About Us</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Home")#recipe"><span>Recipes</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a asp-controller="Recipes" asp-action="TopRatedRecipe">Top Rated Recipes</a></li>
                                <li><a href="#">Recipes Around The World</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#contact">Contact</a></li>

                        <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>

                <!-- .navbar -->

                <a class="book-a-table-btn scrollto" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
            }
            


        </div>
    </header><!-- End Header -->
    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>After<span style="color: #ffb03b;">Taste</span></h3>
            <p>After you cook comes a wonderful taste.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-tiktok"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>AfterTaste</span></strong>. All Rights Reserved
            </div>

        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
