﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Recipe;

<main id="main">

    <!-- ======= Recipe Section ======= -->
    <section id="recipe" class="recipe">
        <div class="add-recipe-container">
            <div class="container">
                <h1 class="display-6">Share A New Recipe</h1>
                <form asp-action="AddRecipe" asp-controller="Recipes" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-12">
                        <label asp-for="recipeName">Recipe Name</label>
                        <input class="form-control" asp-for="recipeName">
                        @Html.ValidationMessageFor(model => model.recipeName, "", new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <label asp-for="recipeDescription">Recipe Description</label>
                        <input class="form-control" asp-for="recipeDescription">
                        @Html.ValidationMessageFor(model => model.recipeDescription, "", new { @class = "text-danger"})
                    </div>

                    <br />
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="Origin">Origin</label>
                            <select class="form-control form-select" asp-items="@Html.GetEnumSelectList(typeof(Origin))" aria-describedby="CourseHelp" placeholder="Select Origin" asp-for="Origin">
                            </select>
                        </div>

                        <div class="form-group col">
                            <label asp-for="recipeVideo">Recipe Video</label>
                            <input class="form-control" asp-for="recipeVideo">
                        </div>
                    </div><br />

                    <div class="form-group col-md-12">
                        <label asp-for="recipeIngredients">Recipe Ingredients</label>
                        <textarea class="form-control" asp-for="recipeIngredients" rows="4" cols="50">
                            @Html.ValidationMessageFor(model => model.recipeIngredients, "", new { @class = "text-danger"})

                    </textarea>
                    </div><br />
                    <div class="form-group col-md-12">
                        <label asp-for="recipeDirections">Recipe Directions</label>
                        <textarea class="form-control" asp-for="recipeDirections" rows="4" cols="50">
                            @Html.ValidationMessageFor(model => model.recipeDescription, "", new { @class = "text-danger"})

                    </textarea>
                    </div><br />
                    <div class="form-group col-md-12">
                        <label asp-for="recipeCalories">Recipe Calories</label>
                        <input class="form-control" asp-for="recipeCalories">
                        @Html.ValidationMessageFor(model => model.recipeCalories, "", new { @class = "text-danger"})
                    </div><br />

                    <div class="form-group col-md-12">
                        <label asp-for="recipeImage">Recipe Image</label>
                        <input type="file" class="form-control" asp-for="recipeImage" accept=".jpg,.png,.jpeg">
                        @Html.ValidationMessageFor(model => model.recipeImage, "", new { @class = "text-danger"})
                    </div><br />

                    <button type="submit" class="sign-up-button">Submit</button>
                    <button type="button" class="sign-up-button" onclick="history.back()">Cancel</button>
                </form>
            </div>
        </div>

    </section>
</main>