@using System.Security.Claims;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Recipe>;

<main id="main">

    <!-- ======= Recipe Section ======= -->
    <section id="recipe" class="recipe">

        <div class="container">

            <div class="section-title mt-5">
                <h2> Explore <span>Recipes</span></h2>
                <p class="pb-2">
                    Explore! Taste! Travel the world through your tastebuds!
                </p></br>
                <a asp-action="AddRecipe" asp-controller="Recipes" class="book-a-table-btn scrollto my-4">Share A Recipe</a>

            </div></br>

            <div class="row row-cols-1 row-cols-md-3 g-4">

                @foreach (var Recipe in Model.Where(r => r.Status == RecipeStatus.Approved))
                {
                    var recipeUrl = Url.Action("RecipeDetails", "Recipes", new { Id = Recipe.recipeId });
                    var localhost = "http://localhost:5103";
                    var completeUrl = localhost + recipeUrl;

                    <div class="col">
                        <div class="card">
                            <a asp-action="RecipeDetails" asp-route-Id="@Recipe.recipeId">
                                @if (Recipe.recipeImage != null && Recipe.recipeImage.Length > 0)
                                {
                                    <div>
                                        <img src="data:image;base64,@Convert.ToBase64String(Recipe.recipeImage)" alt="Recipe Image" class="card-img-top">
                                    </div>
                                }
                                else
                                {
                                    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="Recipe Image" class="card-img-top">
                                }
                            </a>
                            <div class="card-body">
                                <div id="messageContainer_@Recipe.recipeId">
                                    @if (TempData[$"Message_{Recipe.recipeId}"] != null)
                                    {
                                        var message = TempData[$"Message_{Recipe.recipeId}"].ToString();
                                        <div class="alert @((message.Contains("unfavorited")) ? "alert-danger" : "alert-success")" role="alert">@message</div>
                                    }
                                </div>
                                <h5 class="card-title">@Recipe.recipeName <span class="badge rounded-pill bg-warning text-dark ms-2">@Recipe.Origin</span></h5>
                                <p class="card-text">@Recipe.recipeDescription</p>
                            </div>
                            <div class="social d-flex justify-content-center mb-2 gap-4">
                                <h4 style="font-family:Bahnschrift">
                                    <a href=""><i class="bi bi-star-fill mx-2"></i>5</a>
                                    <a asp-action="AddFavorite" asp-controller="Recipes" asp-route-Id="@Recipe.recipeId"><i class="bi bi-heart mx-2"></i></a>
                                    <a href="#" onclick="copyLink('@completeUrl')"><i class="bi bi-clipboard mx-2"></i></a>
                                </h4>
                            </div>
                            @if (User.Identity.IsAuthenticated && Recipe.userId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                            {
                                <div class="social d-flex justify-content-center mb-2 gap-4">
                                    <h4 style="font-family:Bahnschrift">
                                        <a asp-action="UpdateRecipe" asp-controller="Recipes" asp-route-Id="@Recipe.recipeId" class="book-a-table-btn scrollto my-4">Edit Recipe</a>
                                        <a asp-action="DeleteRecipe" asp-controller="Recipes" asp-route-Id="@Recipe.recipeId" class="book-a-table-btn scrollto my-4">Delete Recipe</a>
                                    </h4>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>

        </div>

    </section><!-- Top Recipe Section -->





</main><!-- End #main -->
@section Scripts {
    <script>
        // Remove message
        function removeMessage(recipeId) {
            setTimeout(function () {
                var messageContainer = document.getElementById(`messageContainer_${recipeId}`);
                if (messageContainer) {
                    messageContainer.parentNode.removeChild(messageContainer);
                }
            }, 2000);
        }

        @foreach (var Recipe in Model)
        {
            var recipeId = Recipe.recipeId;
            <text>removeMessage(@recipeId); </text>
        }
    </script>

    <script>
        function copyLink(recipeUrl) {
            
            navigator.clipboard.writeText(recipeUrl)
                .then(function () {
                    alert('Recipe link copied to clipboard');
                })
                .catch(function (error) {
                    console.error('Failed to copy: ', error);
                    alert('Failed to copy recipe link to clipboard');
                });
        }
    </script>
}

