@using System.Security.Claims;


﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var recipeUrl = Url.Action("RecipeDetails", "Recipes", new { Id = Model.recipeId });
    var localhost = "http://localhost:5103";
    var completeUrl = localhost + recipeUrl;
}
@model Recipe;

<main id="main">

    <!-- ======= Recipe Section ======= -->
    <section id="recipe" class="recipe">
        <div class="container">

            <div class="section-title py-5">
                <h2>@Model.recipeName</h2>
                <figure>
                    <blockquote class="blockquote">
                        <p>@Model.recipeDescription</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                       @Model.User.Firstname @Model.User.Lastname
                    </figcaption>
                </figure>
                <div id="messageContainer_@Model.recipeId">
                    @if (TempData[$"Message_{Model.recipeId}"] != null)
                    {
                        var message = TempData[$"Message_{Model.recipeId}"].ToString();
                        <div class="alert @((message.Contains("unfavorited")) ? "alert-danger" : "alert-success")" role="alert">@message</div>
                    }
                </div>
                <div class="gap-3 d-flex justify-content-center mb-2">
                    <a href=""><span class="badge rounded-pill text-bg-warning mx-2">@Model.Origin</span></a>
                    @if (Model.AverageRating > 0)
                    {
                        <i class="bi bi-star-fill mx-2"></i>

                        @String.Format("{0:0.0}", Model.AverageRating)
                    }else
                    {
                        <i class="bi bi-star-fill mx-2"></i>
                        @(0.0);
                    }
                    <a asp-action="AddFavorite" asp-controller="Recipes" asp-route-Id="@Model.recipeId"><i class="bi bi-heart mx-2"></i></a>
                    <a href="#" onclick="copyLink('@completeUrl')"><i class="bi bi-clipboard mx-2"></i></a>

                </div>

            </div>

            <div class="container py-3">
                <div class="row">
                    <h1>How to Cook?</h1>
                    <div class="col-lg-12 py-2">
                        <div class="ratio ratio-21x9">
                            <iframe width="560" height="315" src="@Model.recipeVideo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>

                    <h1 class="py-2">Ingredients Needed</h1>
                    <div class="row">
                        <div class="col-lg-12 py-2">
                            <ol class="list-group list-group-numbered">
                                @foreach (var ingredients in Model.recipeIngredients.Split('\n'))
                                {
                                    <li class="list-group-item">@ingredients</li>
                                }
                            </ol>
                        </div>
                    </div>

                    <h1 class="py-2">Directions</h1>
                    <div class="row">
                        <div class="col-lg-12 py-2">
                            <ol class="list-group list-group-numbered">
                                @foreach (var direction in Model.recipeDirections.Split('\n'))
                                {
                                    <li class="list-group-item">@direction</li>
                                }
                            </ol>
                        </div>
                    </div>

                    <h1 class="py-2">Calories</h1>
                    <div class="row">
                        <div class="col-lg-12 py-2">
                            <ol class="list-group">
                                <li class="list-group-item">@Model.recipeCalories</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>

           
            <section>
                <h1 class="py-2">User Reviews</h1>
                @if (User.Identity.IsAuthenticated && (!User.IsInRole("Admin")))
                {
                    <button class="btn btn-success" onclick="location.href='@Url.Action("AddReview", "Recipes", new { recipeId = Model.recipeId })'">
                        Add a Review
                    </button>
                }

                @foreach (var review in ViewBag.Reviews)
                {
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-8">
                            <!-- Display each review --> <br>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-start align-items-center">
                                        <!-- Display review details here -->
                                        @if (review.User != null && review.User.ProfilePicture != null)
                                        {
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="data:image;base64,@Convert.ToBase64String(review.User.ProfilePicture)"
                                                 alt="avatar" width="60" height="60" />
                                        }
                                        else
                                        {
                                            <!-- Provide a default image or placeholder -->
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
                                                 alt="default avatar" width="60" height="60" />
                                        }
                                        <div>
                                            <!-- Reviewer Name and Date -->
                                            <h6 class="fw-bold text-primary mb-1">
                                                @if (review.User != null)
                                                {
                                                    @review.User.Firstname @Html.Raw(" ") @review.User.Lastname
                                                }
                                            </h6>
                                            <p class="text-muted small mb-0">
                                                Posted - @review.ReviewDate.ToString("MMM yyyy")
                                            </p>
                                            <!-- Review Rating -->
                                            <p class="text-muted small mb-0">
                                                <i class="bi bi-star-fill mx-2"></i>@review.Rating
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Review Comment -->
                                    <p class="mt-3 mb-4 pb-2">
                                        @review.comment
                                    </p>
                                    @if (User.Identity.IsAuthenticated && review.userId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                    {
                                        <a asp-action="EditReview" asp-controller="Recipes" asp-route-reviewId="@review.reviewId">Edit Review</a>
                                        <span>&nbsp;</span>
                                        <a asp-action="DeleteReview" asp-controller="Recipes" asp-route-reviewId="@review.reviewId">Delete Review</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>

           


        </div>
    </section><!-- Top Recipe Section -->

</main><!-- End #main -->
@section Scripts {
    <script>
        // Remove message after a delay
        setTimeout(function () {
            var messageContainer = document.getElementById(`messageContainer_@Model.recipeId`);
            if (messageContainer) {
                messageContainer.parentNode.removeChild(messageContainer);
            }
        }, 2000); 
    </script>

    <script>
        function copyLink(recipeUrl) {
            
            navigator.clipboard.writeText(recipeUrl)
                .then(function () {
                    alert('Recipe link copied to clipboard');
                })
                .catch(function (error) {
                    console.error('Failed to copy: ', error);
                    alert('Failed to copy recipe link to clipboard');
                });
        }
    </script>
}